// there are 2 filter-button, accessibility is complaining that the state of the filters is not labeled when button is pressed. The filter <button>s for "Date" and "Name" are not clearly communicating state change. Label it.
// Acceptance Criteria
// The state of the filters is labeled when Name is selected
// The state of the filters is labeled when Date is selected
// <label for="cb_1">Cheese</label>
// <input id="cb_1" type="checkbox" checked="checked">

<ng-container
  [companyTrackInit]="['trackActivityHistoryPage']"
  *companyResponsive="let screen"
>
  <ng-container
    *ngIf="isShowFilter && screen.isSmallerOrEqual('md'); else activityHistory"
  >
    <company-mobile-filter-view
      [sortByList]="[
        'msk.activities.filterDateCompleted' | translate,
        'msk.activities.sortName' | translate
      ]"
      [applyButtonText]="'msk.activities.filterApply' | translate"
      [sortSelected]="sortSelection"
      (sortEvent)="sortCards($event)"
      (closeFilter)="onCloseFilter()"
    ></company-mobile-filter-view>
  </ng-container>
  <ng-template #activityHistory>
    <ng-container *companyWaitToLoad="cards$; let cards">
      <div class="history-page-container">
        <company-global-header
          class="global-header"
          (leftBackButtonClick)="onBack()"
          [title]="'msk.activities.activityHistory' | translate"
        >
          <ng-template rightContent>
            <button
              *ngIf="!screen.isLargerOrEqual('lg')"
              aria-label="Filter"
              class="filter-button"
              type="button"
              (click)="isShowFilter = true"
            >
              <span class="icon">
                <company-icon class="filter-icon" type="filter"></company-icon>
              </span>
            </button>
          </ng-template>
        </company-global-header>
        <div
          class="history-page-content"
          [ngClass]="{ 'no-activity-container': !cards.length }"
        >
          <div *ngIf="!screen.isSmallerOrEqual('md')" class="filter-bar">
            <div *ngIf="!screen.isSmallerOrEqual('md')" class="sort-buttons">
              <span>{{ 'action.sortLabel' | translate }}</span>
              <button
                class="filter-button"
                data-test-id="button-sort-date"
                type="button"
                [companyButton]="
                  sortSelection === SortValue.DATE ? 'primary' : 'secondary'
                "
                (click)="sortCards(SortValue.DATE)"
              >
                {{ 'global.dateLabel' | translate }}
              </button>
              <button
                class="filter-button"
                data-test-id="button-sort-name"
                type="button"
                [companyButton]="
                  sortSelection === SortValue.NAME ? 'primary' : 'secondary'
                "
                (click)="sortCards(SortValue.NAME)"
              >
                {{ 'global.nameLabel' | translate }}
              </button>
            </div>
          </div>
          <div
            class="stats-container"
            [ngClass]="{ 'no-bottom-border': !cards.length }"
          >
            <p class="stat-title" data-test-id="completed-activities-title">
              {{ 'msk.activities.complAct' | translate }}
            </p>
            <p class="stat-number" data-test-id="completed-activities-number">
              {{ cards.length }}
            </p>
          </div>

          <div
            *ngIf="cards.length; else noCompletedActivityScreen"
            class="timeline-container"
          >
            <div class="title" data-test-id="timeline-title">
              {{
                sortSelection === SortValue.DATE
                  ? ('msk.activities.timelineLabel' | translate)
                  : ('msk.activities.sortAtoZ' | translate)
              }}
            </div>
            <div class="history-cards">
              <div
                class="dotted-spaced"
                [ngClass]="{
                  'hide-dotted-line': sortSelection !== SortValue.DATE
                }"
              ></div>
              <div class="timeline-card-wrapper">
                <ng-container *ngFor="let card of cards; let index = index">
                  <div class="row-flex">
                    <div
                      class="card-status-wrapper"
                      [ngClass]="{
                        'align-center':
                          index !== 0 && index !== cards.length - 1
                      }"
                    >
                      <div
                        class="dotted-place-holder"
                        *ngIf="index === 0 || index === cards.length - 1"
                        [ngClass]="{ overlap: index === 0 }"
                      ></div>
                      <img
                        class="card-completed-icon overlap"
                        src="assets/images/care-path/checked_circle.svg"
                        *ngIf="card.isCompleted"
                      />
                      <div
                        class="dotted-place-holder"
                        *ngIf="index === 0 || index === cards.length - 1"
                        [ngClass]="{ overlap: index === cards.length - 1 }"
                      ></div>
                    </div>
                    <div
                      class="timeline-card"
                      [ngClass]="{ completed: card.isCompleted }"
                    >
                      <div class="card-info" [id]="'card-info-' + index">
                        <div class="card-title" data-test-id="card-title">
                          {{ card.title }}
                        </div>
                        <div class="card-type" data-test-id="card-type">
                          <img
                            class="card-icon"
                            [src]="card.typeIcon"
                            data-test-id="image-card-type-icon"
                          />
                          {{ card.type }}
                        </div>
                        <div class="card-duration" data-test-id="card-duration">
                          <div
                            class="duration-info"
                            data-test-id="card-duration-info"
                          >
                            <img
                              class="card-icon"
                              src="assets/images/care-path/duration_icon.svg"
                              data-test-id="image-card-duration-icon"
                            />
                            {{ card.duration }}
                          </div>
                          <company-icon
                            *ngIf="screen.isSmallerOrEqual('md')"
                            class="right-arrow"
                            type="right-arrow"
                          ></company-icon>
                        </div>
                        <div
                          *ngIf="card.isCompleted"
                          class="card-completed-date"
                        >
                          <img
                            class="card-completed-icon"
                            src="assets/images/care-path/checked_circle.svg"
                            data-test-id="image-card-completed-icon"
                          />
                          <div
                            class="bold"
                            data-test-id="card-completed-status"
                          >
                            Completed
                          </div>
                          {{ card.dateCompleted }}
                        </div>
                        <button
                          *ngIf="card.isViewable"
                          class="card-button"
                          type="button"
                          data-test-id="button-view"
                          companyButton="primary"
                          (click)="onActivityClick(card.actionDefinitionId)"
                        >
                          View
                        </button>
                      </div>
                      <div
                        class="card-image"
                        [ngClass]="{ 'button-viewable': card.isViewable }"
                      >
                        <img
                          *ngIf="card.imgSource"
                          [src]="card.imgSource | cdnPrefix"
                          data-test-id="image-card-activity"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="card-spacer"></div>
                </ng-container>
              </div>
            </div>
          </div>

          <ng-template #noCompletedActivityScreen>
            <p class="no-activities-text" data-test-id="no-activities">
              {{ 'msk.activities.getActivityStarted' | translate }}
            </p>
          </ng-template>
        </div>
      </div>
    </ng-container>
  </ng-template>
</ng-container>
